:root {
	--button-width: 4ch;
	--title-width: 75%;
}

@font-face {
	font-family: 'NotoSansMonoCJKjp';
	src: url('./NotoSansMonoCJKjp-Regular.woff2');
	font-display: swap;
}

body{
	margin: 0;
	font-family: NotoSansMonoCJKjp;
}

table{
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	/* background-color: lightgray; */
}

table > tbody > tr > td {
	border-collapse: collapse;
}

table > tbody > tr.headers{
	visibility: hidden;
	width: 100%;
	height: 0;
	margin: 0;
	border: 0;
	padding: 0;
}

table > tbody > tr.headers > th{
	visibility: hidden;
	height: 0;
	margin: 0;
	border: 0;
	padding: 0;
}

table th.ruler-button {
	width: var(--button-width);
}

table th.ruler-title {
	width: var(--title-width);
	display: inline-block;
}

table th.ruler-note {
	width: calc(100% - var(--title-width) - var(--button-width));
}

table td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

table input[type="button"] {
	width: 100%;
	height: 100%;
}
