<html>
	<head>
		{% load static %}
		<link rel="preload" href="{% static 'css/NotoSansMonoCJKjp-Regular.woff2' %}" as="font" crossorigin="anonymous" type="font/woff2" >
		<link href="{% static 'css/tasks.css' %}" rel="stylesheet" type="text/css" media="all">
		<script src="{% static 'js/delete_task.js' %}"></script>
	</head>
	<body>
		<table><tbody>
			<tr class="headers">
				<th class="ruler-button"></th>
				<th class="ruler-title"></th>
				<th class="ruler-note"></th>
			</tr>
			{% for t in tasks %}
				<tr>
					<td><form id="gt_delete_form_{{ t.id }}">
						{% csrf_token %}
						<input type="hidden" name="id" value="{{ t.id }}">
						<input type="button" class="gt_delete_button">
					</form></td>
					<td>{{ t.title }}</td>
					<td>{{ t.notes }}</td>
				</tr>
			{% endfor %}
		</tbody></table>
	</body>
</html>
