:root {
	--bookmark-width: 25%;
	--controls-width: 20%;
	--calendar-height: 70%;
	--datestr-border: 3px;
	--submitbuttons-width: 8ch;
}

@font-face {
	font-family: 'NotoSansMonoCJKjp';
	src: url('./NotoSansMonoCJKjp-Regular.woff2');
	font-display: swap;
}

body{
	margin: 0;
	font-family: NotoSansMonoCJKjp;
}

table.divider{
	width: 100%;
	height: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	/* background-color: lightgray; */
}

table.divider > tbody > tr > td {
	border-collapse: collapse;
}

table.divider > tbody > tr.headers{
	visibility: hidden;
	height: 0;
	margin: 0;
	border: 0;
	padding: 0;
}

table.divider > tbody > tr.headers > th{
	visibility: hidden;
	height: 0;
	margin: 0;
	border: 0;
	padding: 0;
}

table.divider th.ruler-bookmark {
	width: var(--bookmark-width);
}

td.bookmark{
	background-color:white;
}

span.bookmark_title{
	display: inline-block;
	width: 40%;
}
span.bookmark_url{
	display: inline-block;
	width: 50%;
}

td.portal_azure{
	height: 100%;
	width: 100%;
}

td.portal_azure > div{
	height: 100%;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 0;
}

iframe {
	height: 100%;
	width: 100%;
	margin: 0;
	border: 0;
	padding: 0;
}
