<html>
	<head>
		{% load static %}
		<link rel="preload" href="{% static 'css/NotoSansMonoCJKjp-Regular.woff2' %}" as="font" crossorigin="anonymous" type="font/woff2" >
		<link href="{% static 'css/portal.css' %}" rel="stylesheet" type="text/css" media="all">
		<title>calendar</title>
	</head>
	<body>
		<iframe id="receive-post" style="width:0px;height:0px;border:0px;"></iframe>
		<table class="divider"><tbody>
			<tr class="headers">
				<th class="ruler-bookmark"></th>
				<th></th>
			</tr>
			<tr>
				<td class="bookmark">
					{% for b in bookmarks %}
						<p><a href="{{ b.url }}" target="_blank">
							<span class="bookmark_left">
							</span><span class="bookmark_icon">
								<img width="16px" height="16px" src="{{ b.icon }}" />
							</span><span class="bookmark_title">
								{{ b.title }}
							</span><span class="bookmark_url">
								{% if "show_url" in b %}
									{{ b.show_url }}
								{% else %}
									{{ b.url }}
								{% endif %}
							</span>
						</a></p>
					{% endfor %}
				</td>
				<td class="portal_azure">
					<iframe src="/calendar"></iframe>
				</td>
			</tr>
		</tbody></table>
	</body>
</html>
